
<div class="content">
  <h2>Profile</h2>

  <img class="profile-pic" src="{{img}}">
  <div class="user-name">{{name}}</div>

  <div class="links">
    <div class="left">
      <a href="{{website}}" target="_blank">Website</a><br/>
      <a href="{{blog}}" target="_blank">Blog</a><br/>
    </div>
    <div class="right">
      <a href="{{linkedin}}" target="_blank">LinkedIn</a><br/>
      <a href="{{github}}" target="_blank">Github</a><br/>
    </div>
  </div>

  <p class="bio">{{{bio}}}</p>

</div>
